NodeRedFlow.json
[{"id":"33d877ba.fcf358","type":"tab","label":"Watson Assisstant","disabled":false,"info":""},{"id":"e74ef010.635ec","type":"watson-conversation-v1","z":"33d877ba.fcf358","name":"Assisstant","workspaceid":"c512aff3-f008-4341-a460-719f8c78dd47","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/b8fd31b0-6d10-4f8b-b99c-ee660b836851","timeout":"","optout-learning":false,"x":375,"y":180,"wires":[["797bb0a3.0aa99","7fb9a160.32087"]],"l":false},{"id":"6febb993.1936e8","type":"function","z":"33d877ba.fcf358","name":"F1","func":"msg.payload = msg.payload.text; \nreturn msg;","outputs":1,"noerr":0,"x":255,"y":260,"wires":[["e74ef010.635ec","a826db2d.76cfd8"]],"l":false},{"id":"47d20f9f.a6329","type":"ui_form","z":"33d877ba.fcf358","name":"","label":"form","group":"ae8a5ad1.d5eef8","order":1,"width":0,"height":0,"options":[{"label":"Enter the input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":95,"y":280,"wires":[["6febb993.1936e8"]],"l":false},{"id":"797bb0a3.0aa99","type":"function","z":"33d877ba.fcf358","name":"F2","func":"if(msg.payload.output.error){\n    msg.payload = \"please rephrase\";\n    return msg;\n}\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":515,"y":240,"wires":[["7847f352.bd98bc"]],"l":false},{"id":"a826db2d.76cfd8","type":"ui_text","z":"33d877ba.fcf358","group":"ae8a5ad1.d5eef8","order":3,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":395,"y":360,"wires":[],"l":false},{"id":"7847f352.bd98bc","type":"ui_text","z":"33d877ba.fcf358","group":"ae8a5ad1.d5eef8","order":6,"width":0,"height":0,"name":"","label":"bot","format":"{{msg.payload}}","layout":"col-center","x":670,"y":360,"wires":[]},{"id":"7fb9a160.32087","type":"debug","z":"33d877ba.fcf358","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":540,"y":80,"wires":[]},{"id":"ae8a5ad1.d5eef8","type":"ui_group","z":"","name":"CHATBOT","tab":"41e18bba.25ef14","order":1,"disp":true,"width":13,"collapse":false},{"id":"41e18bba.25ef14","type":"ui_tab","z":"","name":"CUSTOMERCARE","icon":"","disabled":false,"hidden":false}]